// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-header {
  right: 0;
  left: 0;
  top: 0;
  background-color:greenyellow;
  display: flex;
  position: fixed; // スクロールしても表示変わらない
  width: 100%;

  h1 {
  font-size: 50px;
  margin: 0 auto;
  display: flex;
  }
}

.content-wrapper {
  display: flex;
  margin-left: 350px;

  .content {
    border: 1px solid ;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 650px;
    margin-bottom: 8px;

    .tweets-list {
      float:left;
      position:relative;
      margin-top: 12px;
      list-style-type: none;

      li {
        width: 95%;
        background-color: pink;
        border: 0.5px solid;
        border-radius: 2px;
        text-align: center;
        margin: 6px;

        
        
        .to-profile {
          display: flex;
          padding: 0 5px;

          .tweet-user {
            text-align: center;
            background-color:greenyellow;
            opacity: 0.9;
            border-radius: 10px;
          }
          
          a {
            padding: 5px;
          }
        
          :hover {
            opacity: 1;
          }
        }
        .tweet-text {
          text-align: center;
          padding: 5px 5px 5px 15px;
          font-size: 14.5px;
        }
      }   
    }
  }

  .profile {
    right: 30;
    border: 1px solid;
    border-radius: 1px;
    width: 250px;
    height: 250px;
    margin-left: 40px;
  
    .prof_img {
      background-color: peachpuff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 5px auto;
    }
  
    .user_name {
      text-align: center;
      font-size: 30px;
    }
  
    .btn-submit {
      width: 95%;
      height: 25%;
      background-color: green;
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: table;
  
      .post-link {
        font-size: 30px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
