// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .content-wrapper2 {

    display: flex;
    margin-left: 385px;

    .profile-show {
      display: flex;
      flex-flow: column;
      text-align: center;
      justify-content: center;
      background-color: honeydew;
      width: 60%;   // heightは設定しない
      border: 2px solid;
      border-radius: 10px;
      margin-top: 30px;
      margin-bottom: 8px;

      .like-bar {
        margin-top: -25px;
      }

      .posts-list {
        margin-top: -25px;
        list-style-type: none;

        li {
          width: 95%;
          background-color: pink;
          border: 0.5px solid;
          border-radius: 2px;
          text-align: center;
          margin: 6px;
          display: flex;

          .to-profile {
            display: flex;
            margin: 20px 0;

            .pr-img {
              width: 75px;
              height: 75px;
              border-radius: 50px;
            }

            .user {
              width: auto;
              height: auto;
              text-align: center;

              :hover {
                text-decoration: underline;
              }
            }
          }
          .text {
            margin: auto;
            font-size: 16.0px;
          }
          .likes {
            .like {
              text-decoration: none;
              color: red;
            }
          }
        }
      }

      .pr-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: peachpuff;
        margin: 15px auto;
      }
  
      .pr-name {
        font-weight: bold;
        font-size: 1.7rem;
      }
  
      .pr-text {
        width: 80%;
        background-color: greenyellow;
        margin: 20px auto;
        border-radius: 10px;
  
        p {
          margin: 0px;
          padding: 10px;
          font-size: 1rem;
        }
      }
    }

    .buttons {
      display: flex;
      flex-flow: column;
      margin-top: 30px;
      margin-left: 10px;

      .btn {
        background-color: plum;
        text-decoration: none;
      }

      .edit {
        margin-bottom: 6px;
      }
    }
  }



  h4 {
    margin: 40px auto;
    text-align: center;
  }
  .form-group {
    width: 65%;
    margin: 15px auto;
  }

  .btn-space {
    text-align: center;

    .btn {
      background-color: plum;
    }
  }
