// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-header {
  right: 0;
  left: 0;
  top: 0;
  background-color:greenyellow;
  display: flex;
  position: fixed; // スクロールしても表示変わらない
  width: 100%;

  h1 {
  font-size: 50px;
  margin: 0 auto;
  display: flex;
  }
}

.content-wrapper {
  display: flex;
  margin-left: 350px;

  .content {
    border: 1px solid ;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: honeydew;
    width: 650px;
    margin-bottom: 8px;

    .to-comment-text {
      text-align: center;
      margin-bottom: 15px;

      .pr-img {
        width: 75px;
        height: 75px;
        border-radius: 50px;
      }

      .tweet-user {
        font-size: 25px;
      }
    }

    .tweets-list {
      margin-top: 12px;
      list-style-type: none;

      li {
        width: 95%;
        background-color: pink;
        border: 0.5px solid;
        border-radius: 2px;
        text-align: center;
        margin: 6px;
        display: flex;

        
        
        .to-profile {
          display: flex;
          margin: 20px 0;
      

          .pr-img {
            width: 75px;
            height: 75px;
            border-radius: 50px;
          }

          .tweet-user {
            width: auto;
            height: auto;
            text-align: center;

            :hover {
              text-decoration: underline;
            }
          }
        
        }
        .tweet-text {
          margin: auto;
          font-size: 16.0px;
        }

        .likes {
          .like {
            text-decoration: none;
            color: red;
          }
        }
      }   
    }

    .tweet-text2 {
      margin-top: 12px;
      width: 95%;
      background-color: pink;
      border: 0.5px solid;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      margin: 6px;
    }

    .a-tweet {
      margin-top: 12px;
      list-style-type: none;

      li {
        width: 95%;
        background-color: pink;
        border: 0.5px solid;
        border-radius: 2px;
        text-align: center;
        margin: 6px;

        .to-tweet {
          display: flex;
          padding: 0 5px;
        }
      }
    }
    .comments-list {
      margin-top: 12px;
      list-style-type: none;

      li {
        width: 95%;
        background-color: pink;
        border: 0.5px solid;
        border-radius: 2px;
        text-align: center;
        margin: 6px;
        display: flex;

        .to-profile {
          display: flex;
          margin: 20px 0;
      

          .pr-img {
            width: 75px;
            height: 75px;
            border-radius: 50px;
          }

          .comment-user {
            width: auto;
            height: auto;
            text-align: center;

            :hover {
              text-decoration: underline;
            }
          }
        }
        .tweet-text {
          margin: auto;
          font-size: 16.0px;
        }
        .likes {
          .like {
            text-decoration: none;
            color: red;
          }
        }
      }
    }
    .comment-bar {
      text-align: center;
      margin: -30px auto;
    }
  }

  .profile {
    right: 30;
    border: 1px solid;
    border-radius: 1px;
    width: 250px;
    height: 250px;
    margin-left: 40px;
  
    .pr-img {
      margin-top: 5px;
      margin-left: 35%;
      width: 75px;
      height: 75px;
      border-radius: 50px;
    }
  
    .user_name {
      text-align: center;
      font-size: 30px;
    }
  
    .btn-submit {
      width: 95%;
      height: 25%;
      background-color: green;
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: table;
  
      .post-link {
        font-size: 30px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

h4 {
  margin: 50px auto;
  text-align: center;
}
.t-group {
  width: 70%;
  margin: 15px auto;
}

.btn-space {
  text-align: center;
  margin-bottom: 40px;

  .btn {
    background-color: plum;
  }
}

.actions {
  text-align: center;
}

